@model IQueryable<ClienteViewModel>

<table class="pure-table pure-table-bordered">
    <thead>
        <tr>
            <th>Nome</th>
            <th>CPF</th>
            <th>RG</th>
            <th>DataNascimento</th>
            <th>CNH</th>
            <th>LocalNascimento</th>
            <th>NomePai</th>
            <th>NomeMae</th>
            <th>TempoResidencia</th>

        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            foreach (var p in Model)
            {
        <tr>
            <td>@p.Nome</td>
            <td>@p.CPF</td>
            <td>@p.RG</td>
            <td>@p.DataNascimento</td>
            <td>@p.CNH</td>
            <td>@p.LocalNascimento</td>
            <td>@p.NomePai</td>
            <td>@p.NomeMae</td>
            <td>@p.TempoResidencia</td>
           
            <td>
                <a data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#add-curso" href='@Url.Action("Add", "Cliente", new { Id = p.Id })' title="alterar Cliente">
                    <i class="material-icons">
                        create
                    </i>
                </a>
                <a data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#cnt-curso" href='@Url.Action("Delete", "Cliente", new { Id = p.Id })' title="deletar curso" data-ajax-confirm="Deseja realmente excluir este Cliente?">
                    <i class="material-icons">
                        restore_from_trash
                    </i>
                </a>
            </td>
        </tr>
            }
        }
    </tbody>
</table>